body {
	background-color: #f6f6f6;
	border-top: solid 4px black;
	border-bottom: solid 4px black;
	padding: 20px;
	padding-bottom: 50px;
	margin: 10px;
	text-align: center;
}
nav {
	padding-top: 30px;
	font-family: arial;
	margin-bottom: 5px;
}
h1 {
	font-family: arial;
	padding-bottom: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
img {
	float: right;
	margin: 20px;
   	padding: 4px;
   	border: 1px solid #021a40;   	
}
h2 {
	font-family: helvetica;
	font-variant: small-caps;
	text-align: left;
	letter-spacing: 2px;
	margin-top: 30px;
}
p {
	font-family: georgia;
	text-align: left;
	line-height: 25px;
	margin-bottom: 25px;
}
footer {
	font-family: arial;
}